.burger-button {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 5px;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 100;
}

.burger-button:hover .burger-button__bars::after,
.burger-button:hover .burger-button__bars::before {
	width: 100%;
}

.burger-button:focus {
	outline: none;
	border: 1px solid var(--main-bright-color);
	border-radius: 8px;
}

.burger-button__box {
	position: relative;
	width: 40px;
	height: 30px;
}

.burger-button__bars,
.burger-button__bars::after,
.burger-button__bars::before {
	position: absolute;
	right: 0;
	height: 3px;
	content: "";
	background-color: var(--main-bright-color);
	transition: width 0.3s;
}

.burger-button__bars {
	width: 100%;
}

.burger-button__bars::after {
	top: 13px;
	width: 60%;
}

.burger-button__bars::before {
	top: 27px;
	width: 30%;
	transition-delay: 0.05s;
}

.navigation {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-color: var(--main-navigation-color);
	transform: translateY(-100%);
	transition: transform .5s;
	z-index: 80;
}

.navigation--active {
	transform: translateY(0);
}

.navigation__items {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navigation__item {
	position: relative;
	margin: 20px 0;
	padding: 20px 40px;
	font-size: 24px;
	color: var(--main-bright-color);
	text-shadow: 1px 1px 1px black;
	text-decoration: none;
	transition: letter-spacing 0.3s, font-weight 0.3s;
}

.navigation__item:hover {
	font-weight: bold;
	letter-spacing: 6px;
}

@media (max-width: 400px) {
	.navigation__item {
		margin: 10px 0;
		font-size: 20px;
	}
}