.burger-button {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 5px;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 100;
}

.burger-button:hover .burger-button__bars::after,
.burger-button:hover .burger-button__bars::before {
	width: 100%;
}

.burger-button:focus {
	outline: none;
	border: 1px solid var(--main-bright-color);
	border-radius: 8px;
}

.burger-button__box {
	position: relative;
	width: 40px;
	height: 30px;
}

.burger-button__bars,
.burger-button__bars::after,
.burger-button__bars::before {
	position: absolute;
	right: 0;
	height: 3px;
	content: "";
	background-color: var(--main-bright-color);
	transition: width 0.3s;
}

.burger-button__bars {
	width: 100%;
}

.burger-button__bars::after {
	top: 13px;
	width: 60%;
}

.burger-button__bars::before {
	top: 27px;
	width: 30%;
	transition-delay: 0.05s;
}