.form {
	display: flex;
	flex-direction: column;
	padding: 30px;
	background-color: var(--main-bright-color);
	border-radius: 10px;
}

.form__fieldset {
	padding-bottom: 20px;
	border: 2px solid var(--main-border-color);
	border-radius: 8px;
	min-inline-size: auto;
}

.form__part {
	padding: 15px;
}

.form__part--withRadio {
	display: flex;
	justify-content: space-between;
}

.form__listWithRadio {
	display: flex;
	justify-content: space-around;
	width: 100%;
	list-style: none;
}

.form__label {
	display: flex;
	align-items: center;
}

.form__label--withRadio {
	padding: 6px 8px;
}

.form__legend {
	padding: 3px 6px;
	border: 2px solid var(--main-dark-color);
	border-radius: 5px;
}

.form__labelText {
	width: 180px;
}

.form__input {
	flex-grow: 1;
	min-width: 40px;
	padding: 8px 16px;
	border: 1px solid var(--main-border-color);
	border-radius: 5px;
}

.form__button {
	margin-top: 20px;
	padding: 10px 20px;
	font-weight: bold;
	letter-spacing: 1px;
	color: aliceblue;
	background-color: var(--main-dark-color);
	border: 1px solid var(--main-border-color);
	border-radius: 5px;
	cursor: pointer;
}

@media (max-width: 620px) {
	.form__part--withRadio {
		flex-direction: column;
		padding-bottom: 6px;
	}

	.form__listWithRadio {
		flex-direction: row;
	}

	.form__label {
		flex-direction: column;
	}

	.form__label--withRadio {
		flex-direction: row;
	}

	.form__labelText {
		margin-bottom: 10px;
		width: 100%;
	}

	.form__input {
		width: 100%;
	}

	.form__input--radio {
		margin-right: 4px;
		min-width: 16px;
	}
}

@media (max-width: 400px) {
	.form__part {
		padding: 6px;
	}

	.form__legend {
		font-size: 14px;
	}

	.form__labelText {
		margin: 2px;
		font-size: 14px;
	}

	.form__label--withRadio {
		font-size: 14px;
	}

	.form__listWithRadio {
		flex-direction: column;
		align-items: start;
	}

	.form__input {
		font-size: 14px;
	}

	.form__button {
		padding: 6px 10px;
		font-size: 14px;
	}
}
