.section-home {
	background: radial-gradient(
		circle,
		rgb(243, 243, 32),
		rgb(10, 144, 144) 65%,
		var(--main-dark-color) 80%
	);
	text-align: center;
	z-index: 1;
}

.section-home__wrapper {
	margin-top: -20vh;
}

.section-home__heading {
	display: flex;
	flex-direction: column;
	color: var(--main-bright-color);
	text-shadow: 1px 1px 1px black;
}

.section-home__headingMain {
	font-family: "Dancing Script", cursive;
	font-size: 92px;
}

.section-home__description {
	line-height: 1.5;
}

@media (max-width: 400px) {
	.section-home__heading {
		margin-top: 10vh;
	}
	.section-home__headingMain {
		font-size: 72px;
	}
	.section-home__headingNext {
		font-size: 26px;
	}
	.section-home__description {
		font-size: 14px;
	}
}
